/* Estilo general del generador de QR */
.qr-generator {
  width: auto;
  background: #161617;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.qr-generator-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

button,
input,
select {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 0.6rem 1rem;
}

.qr-input-container {
  width: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.qr-input-container input {
  width: 300px;
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.qr-generate-btn {
  width: 150px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  padding: 0.8rem;
  border-radius: 4px;
}

.qr-generate-btn:hover {
  transform: translateY(-2px);
}

.qr-code-container {
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.qr-code-container img {
  width: 200px;
  max-width: 100%;
}

.qr-code-container button {
  width: 200px;
}

.qr-error-message {
  background: red;
  padding: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  border-radius: 2rem 0 2rem 2rem;
}

@media (max-width: 768px) {
  .qr-input-container {
    flex-direction: column;
    align-items: stretch;
  }

  .qr-input-container input,
  .qr-input-container button {
    width: 100%;
    margin-bottom: 1rem;
  }
  .qr-save-button{
    width: 150px;
    background-color: white;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    padding: 0.8rem;
    border-radius: 10px;
    color: black;
  }

  .qr-code-container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .qr-generator {
    padding: 10px;
  }

  .qr-generator-title {
    font-size: 1.5rem;
  }

  .qr-save-button{
    width: 150px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    padding: 0.8rem;
    border-radius: 4px;
    color: black;
  }

  .qr-input-container input,
  .qr-input-container button {
    width: 100%;
    margin-bottom: 1rem;
  }

  .qr-code-container img,
  .qr-code-container button {
    width: 100%;
  }
}

.qr-save-button{
  width: 150px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  padding: 0.8rem;
  border-radius: 4px;
  color: black;
}
