.qr-generator {
  width: auto;
  background: #161617;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-generator-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

button,
input,
select {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 0.6rem 1rem;
}

select {
  margin-left: 1px;
}

.qr-input-container {
  width: auto;
  padding: 1rem;
  display: flex;
}

.qr-input-container input {
  width: 300px;
}

.qr-generate-btn {
  margin-left: 1rem;
}

.qr-generate-btn button {
  width: 150px;
  color: white;
  background: gray;
}

.qr-code-container {
  width: 680px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.qr-code-container img {
  width: 200px;
}

.qr-code-container button {
  width: 200px;
}

.qr-error-message {
  background: red;
  padding: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  border-radius: 2rem 0 2rem 2rem;
}